.full{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #124559;
  padding: 40px;
  border: 10px solid wheat;
  margin-bottom: 10px;
}
.top{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: #124559;
    /* #EFF6E0 */
    width: 100%;
    height: auto;
}
.max{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #EFF6E0;
    height: 80%;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 4%;
}
.headd{
font-weight: 700;
font-style: normal;
font-family: "DynaPuff", sans-serif;
color: #EFF6E0;
font-size: 48px;
letter-spacing: 0em;
line-height: 1.5;
text-align: left;
}
.para{
    width: 600px;
height: auto;
font-weight: 400;
font-style: normal;
font-family: "Figtree", "Figtree Placeholder", sans-serif;
color: #EFF6E0;
font-size: 20px;
letter-spacing: 0em;
line-height: 1.5;
text-align: left;
}
.left{
    padding: 7%;
}
.icons{
    display: flex;
    flex-direction: row;
}
.one{
    color: white;
    size: 10%
}
.two{
    color: white;
    padding-left: 5%;  
}
.bottom{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* background-color: #EFF6E0; */
    background-color: #124559;
    /* #EFF6E0 */
    width: 100%;
    height: auto; 
    
}



.article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
.article h2 {
  margin: 0 0 18px 0;
  font-family: "DynaPuff", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
  
}
.pa{
  font-family: "Figtree", "Figtree Placeholder", sans-serif;
}
.he{
  font-family: "DynaPuff", sans-serif;
}

.article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #091415;
}

.article a:focus {
  outline: 1px dotted #28666e;
}

.article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}


.article:has(:hover) {
  --img-scale: 1.1;
  --title-color:#28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}




.articles {
  margin-top: 30px;
  max-width: 1200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

}


.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.articlewrapper{
  padding: 20px 20px;
}
.readmore{
  font-family: "DynaPuff", sans-serif;
}



